<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agency - Start Bootstrap Theme</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/lib/bootstrap/dist/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700%7CPlayfair+Display:400i,700,700i" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="~/lib/bootstrap/dist/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header>
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand navbar-brand2 page-scroll" href="#page-top">
                        <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/logo1.png" alt="Logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#blog">Latest Project</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#about">Our story</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#team">Our Team</a>
                            </li>
                            <li class="logo">
                                <a class="navbar-brand page-scroll" href="#page-top">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/logo1.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#services">Services</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#portfolio">Portfolio</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#contact">Contact</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="/eng">ENG</a>
                            </li>                              
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item carusel1 active"></div>
                <div class="item carusel2"></div>
                <div class="item carusel3"></div>
                <div class="item carusel4"></div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
