@font_family_1: 'Raleway', sans-serif;
@font_family_2: 'Playfair Display', serif;

@base_bg_color: #fff;
@base_darker_bg_color: #f5eef0;
@accent_color: #99b3cc;
@text_color: #333;
@header_bg_color: white;
@navbar_affix: #fdfafb;
@border_button_contact_color: #fff;
@white_color: #ffffff;
@nav_hover_color: #99b3cc;
@color_transparent: transparent;
@color_portfolio: #faf3eb;
@modal_name_blue__unused: #1d2f3b;
@black: #000;
@bg_black_filter: rgba(0, 0, 0, 0.45);
@team_image_cell: #f5eef0;

@modal_fade_in_box_bg_color: rgba(245, 238, 240, 0.3);
@navbar-collapse_border_color: rgba(255, 255, 255, 0.02);

@carusel4_img: url("../img/flowers-2044789_1920.jpg");
@carusel3_img: url("../img/peonies-2317596_1920.jpg");
@carusel2_img: url("../img/basket-1846135_1920.jpg");
@carusel1_img: url("../img/bouquet-of-flowers-1149099_1920.jpg");
@blog_img: url("../img/bouquet-of-flowers-1149099_1920.jpg");
@quote_img: url(../img/basket-1846135_1920.jpg);
@team-cell1_img: url('../img/team/girl-657753_1280.jpg');
@team-cell2_img: url('../img/team/model-2373537_1280.jpg');
@team-cell3_img: url('../img/team/secretary-1379839_1280.jpg');
@team-cell4_img: url('../img/team/portrait-2226001_1280.jpg');

@service_image1: url("../img/beautiful-1835116_1920.jpg");
@service_image2: url("../img/flowers-2044789_1920.jpg");

@portfolio1_img: url('../img/basket-1846135_1920.jpg');
@portfolio3_img: url('../img/bouquet-of-flowers-1149099_1920.jpg');
@portfolio4_img: url('../img/flowers-2044789_1920.jpg');
@portfolio5_img: url('../img/flower-731830_1920.jpg');
@portfolio6_img:  url('../img/bouquet-1915255_1920.jpg');
@contact_img: url(../img/bouquet-of-flowers-1149099_1920.jpg);
