@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}
@{
    Layout = "~/Pages/Shared/_LayoutPL.cshtml";
}
    <!-- Blog Section -->
    <section id="blog" class="visible-over">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h4 class="section-name fade-animate">Najnowszy projekt<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row pos-r">
                <div class="col-sm-12 col-md-6 blog-image-cell">
                    <div class="blog-image fade-animate"></div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div>
                        <h1 class="section-heading fade-animate">KLASYKA W STYLU TOSCANIA GLAM</h1>
                        <h4 class="blog-title">czerwiec 2020</h4>
                        <p class="blog-text">
                            Justyna i Łukasz swoje wesele zaplanowali w Ośrodku Konferencyjnym 4 Żywioły w podwarszawskich Falentach... 
                        </p>
                        <a href="#portfolioModal1" data-toggle="modal" class="page-scroll btn btn-xl fade-animate ">Więcej</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Nasza historia<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row pos-r">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="about-heading section-heading fade-animate ">Pewnego razu...</h1>
                    <div class="about-text">
                        <p>
                            Powstalismy z miłości do kwiatów w 2019 roku. Warsaw Bloom jest spełnieniem marzeń Agaty o miejscu, w którym mogłaby kreatywnie realizować swoje artystyczne wizje.
                        </p>
                        <p>
                            Kochamy to, co robimy i chcemy dzielić się tą radością również z Wami.
                        </p>
                        <div class="about-separator"></div>
                        <ul class="list-unstyled">
                            @* <li>Years on the market: 3</li> *@
                            @* <li>Team embers: 12</li> *@
                            @*<li>Zadowoleni klienci: 47</li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="visible-over">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Nasz zespół<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h1 class="team-heading section-heading fade-animate ">Poznaj naszych magików </h1>
                    <p class="team-text">
                        Agata - Główny florysta. Warsaw Bloom to właśnie jej dziecko. Agata jest pomysłodawczynią, sercem oraz mózgiem calej operacji. Estetka od zawsze, od dziecka zafascynowana nauką oraz sztuką jednocześnie, kocha piękno pod każdą postacią. Jej głowa jest pełna inspiracji oraz pomysłów, ale zawsze pozostaje otwarta na propozycje i sugestie klienta.
                    </p>
                    <p class="team-text">
                        Bekon - pisze na stronę, robi zdjecia, wymyśla hashtagi i podpisy do zdjęć, nosi graty.
                    </p>
                </div>
                <div class="col-sm-12 col-md-7 col-md-offset-1 team-image-cell">
                    <div>
                        <div class="col-xs">
                            <div class="team-cell team-cell1 fade-animate"></div>
                            <h5>Agata Olczyk</h5>
                            <h6>Główna Florystka</h6>
                        </div>
                        <div class="col-xs">
                            <div class="team-cell team-cell2 fade-animate"></div>
                            <h5>Bekon</h5>
                            <h6>Social Manager</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Quote Section-->
    <section id="quote">
        <div class="bg-filter"></div>
        <div class="container" data-type="content">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="fade-animate">Inspiracja dnia</h5>
                    <div class="quote-separator"></div>
                    <blockquote>
                        "Gdzie kwitnie kwiat – musi być wiosna, a gdzie jest wiosna – wszystko wkrótce zakwitnie."
                        <footer class="quote-footer">Friedrich Rückert</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="visible-over">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Usługi<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row pos-r">
                <div class="service-image-container col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
                    <div class="service-image1"></div>
                    <div class="service-image2 fade-animate"></div>
                </div>
                <div class="col-sm-12 col-md-6 right">
                    <div>
                        <div class="col-sm-6 col-md-12 service-info">
                            <i class="fa fa-camera-retro fa-3x pull-left service-icon" aria-hidden="true"></i>
                            <div class="service-cell">
                                <h4 class="service-heading fade-animate">Aranżacje florystyczne</h4>
                                <div class="service-separator"></div>
                                <p class="service-text fade-animate">
                                    Spełniamy marzenia par, przygotowując dla nich aranżacje ślubne i weselne
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 service-info">
                            <i class="fa fa-globe fa-3x pull-left service-icon" aria-hidden="true"></i>
                            <div class="service-cell">
                                <h4 class="service-heading fade-animate">Eventy</h4>
                                <div class="service-separator"></div>
                                <p class="service-text fade-animate">
                                    Zajmujemy się oprawą florystyczną eventów na terenie całego kraju -  imprezy biznesowe, wieczory panieńskie, baby showers, urodziny
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 service-info">
                            <i class="fa fa-gift fa-3x pull-left service-icon" aria-hidden="true"></i>
                            <div class="service-cell">
                                <h4 class="service-heading fade-animate">Bukiety</h4>
                                <div class="service-separator"></div>
                                <p class="service-text fade-animate">
                                    Wykonujemy bukiety oraz wianki na zamówienie w dwóch lokalizacjach – w Warszawie oraz Częstochowie
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 service-info">
                            <i class="fa fa-pagelines fa-3x pull-left service-icon" aria-hidden="true"></i>
                            <div class="service-cell">
                                <h4 class="service-heading fade-animate">Przestrzeń</h4>
                                <div class="service-separator"></div>
                                <p class="service-text fade-animate">
                                    Pomagamy w aranżacji każdej przestrzeni; kwiaty, dekoracje
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
@*
    <!--Subscribe Section-->
    <section id="subscribe" class="cta-form">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1 class="subscribe-heading section-heading fade-animate">newsletter</h1>
                    <!-- MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        @using (Html.BeginForm(FormMethod.Post, new { id = "subscribe-form", novalidate=true })){
                            <div class="input-group input-group-lg form-group">
                                <input type="email" name="emailSub" id="emailSub" class="form-control" placeholder="Adres email..." required data-validation-required-message="Prosimy wprowadzić swój adres email.">
                                <p class="help-block text-danger"></p>
                                <span class="input-group-btn">
                                    <button type="submit" name="subscribe" class="btn btn-xl">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <div id="subscribe2-success"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
*@
    <!--Portfolio Section-->
    <section id="portfolio" class="visible-over">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Portfolio<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-nav">
                        <a href="#" data-name="all" class="active">wszystko</a>
                        <a href="#" data-name="first">ślub</a>
                        <a href="#" data-name="second">okazje</a>
                        @*<a href="#" data-name="third">trzeci</a>*@
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item item1">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-item pos-r">
                            <figure class="effect-layla">
                                <div class="portfolio-cell portfolio-cell1"></div>
                                <figcaption>
                                    <h2>Blooming!</h2>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
                <div class="grid-item item2">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-cell portfolio-cell2">
                            <div class="portfolio-info">
                                <h6>Warszawa rozkwitła</h6>
                                <h3>Nasz wszechstronny zespół dopasuje się do Twoich potrzeb!</h3>
                                <div class="portfolio-separator"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid-item item3">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-item pos-r">
                            <figure class="effect-layla">
                                <div class="portfolio-cell portfolio-cell3"></div>
                                <figcaption>
                                    <h2>Blooming!</h2>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
                <div class="grid-item item4">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-item pos-r">
                            <figure class="effect-layla">
                                <div class="portfolio-cell portfolio-cell4"></div>
                                <figcaption>
                                    <h2>Blooming!</h2>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
                <div class="grid-item item5">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-item pos-r">
                            <figure class="effect-layla">
                                <div class="portfolio-cell portfolio-cell5"></div>
                                <figcaption>
                                    <h2>Blooming</h2>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
                <div class="grid-item item6">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-item pos-r">
                            <figure class="effect-layla">
                                <div class="portfolio-cell portfolio-cell6"></div>
                                <figcaption>
                                    <h2>Blooming!</h2>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--Partners Section-->
    @*<section id="partners">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Partners<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-2 col-md-2 fade-animate">
                    <img class="img-responsive img-centered" alt="nature" src="~/lib/bootstrap/dist/img/partners/nature-1357928_640.png">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2  fade-animate delay4">
                    <img class="img-responsive img-centered" alt="mountain" src="~/lib/bootstrap/dist/img/partners/mountain-1849091_640.png">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2  fade-animate">
                    <img class="img-responsive img-centered" alt="go" src="~/lib/bootstrap/dist/img/partners/logo-1675244_640.png">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2  fade-animate delay4">
                    <img class="img-responsive img-centered" alt="tree" src="~/lib/bootstrap/dist/img/partners/tree-990861_640.png">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2  fade-animate">
                    <img class="img-responsive img-centered" alt="bird" src="~/lib/bootstrap/dist/img/partners/logo-1913689_640.png">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2  fade-animate delay4">
                    <img class="img-responsive img-centered" alt="camera" src="~/lib/bootstrap/dist/img/partners/camera-2008479_640.png">
                </div>
            </div>
        </div>
    </section>*@

    <!--Testimonials Section-->
    <section id="testimonials" class="visible-over">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Komentarze<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row">
                <div id="carousel-reviews" class="carousel slide" data-ride="carousel" data-interval="15000">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 testimonial-cell">
                                <h5 class="text-center">Justyna Derewońko</h5>
                                <p class="text-center">
                                    "Agatka z zespołem zrobiła dla nas oprawę ślubu i wesela. Długo nie mogłam znaleźć odpowiedniej osoby, której powierzyłabym to zadanie, a Agata to po prostu czuje. Pełen profesjonalizm! Wszystko było dopracowane w najmniejszym szczególe - tak jak lubię;) Przepiękne kompozycje, a współpraca na medal, od planu, aż do końca. Bardzo dziękujemy i polecamy!"
                                </p>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 testimonial-cell">
                                <h5 class="text-center">Anna Barczyk</h5>
                                <p class="text-center">
                                    "Dziękuję za przepiękny wianek na chrzest i polecam!"
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 testimonial-cell">
                                <h5 class="text-center">Katarzyna Przymus</h5>
                                <p class="text-center">
                                    "Bardzo fajna współpraca i zrozumienie ze strony Pani Agaty w tym "szczególnym" sezonie ślubnym. Musieliśmy sporo zmienić z oryginalnego planu, ale cały zespół Warsaw Bloom wykazał się bardzo dużą elastycznością i pomocą. Nie interesuję się florystyką, dlatego doceniam szczególnie tę konsultacyjną część i doradztwo w sprawie wyboru kwiatów i reszty dekoracji. Natomiast jeśli chodzi o sam efekt i wykonanie - absolutnie wow! Cudowne kwiaty, przepiękne kompozycje, zachwyt gości, ale przede wszystkim nasz! Nie spodziewaliśmy się, że kwiaty mogą pełnić tak ważną część tego dnia i tak wspaniale dopełnić atmosferę i miejsca i charakteru uroczystości. Polecamy z całego serca!"
                                </p>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 testimonial-cell">
                                <h5 class="text-center">Maciej Biernat</h5>
                                <p class="text-center">
                                    "Widząc piękne bukiety, myślami wracam do Warsaw Bloom."
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
@*
    <!-- Contact Section -->
    <section id="contact">
        <div class="bg-filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Kontakt<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <h1 class="contact-heading section-heading fade-animate delay4">say hello</h1>

                    @using (Html.BeginForm(FormMethod.Post, new { id = "contactForm", novalidate=true }))
                    {
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Imię *" id="name" required data-validation-required-message="Prosimy o podanie imienia.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group col-md-12">
                                <input asp-for="Email" type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Prosimy o podanie adresu email.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group col-md-12">
                                <input asp-for="Subject" type="text" class="form-control" placeholder="Tytuł *" id="subject" required data-validation-required-message="Prosimy wpisać tytuł.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-12">
                                <textarea asp-for="Message" class="form-control" placeholder="Wiadomość *" id="message" required data-validation-required-message="Prosimy wpisać wiadomość."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-md-12 text-center fade-animate">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Wyślij wiadomość</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
*@

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <div class="col-md-12">
                                    <div class="col-xs-5 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 modal-name">
                                        <h3>Toscania Glam!</h3>
                                    </div>
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/basket-1846135_1920.jpg" alt="">
                                </div>
                                <h2>Czerwiec 2020</h2>
                                <div class="modal-separator"></div>
                                <p>
                                    Justyna i Łukasz swoje wesele zaplanowali w Ośrodku Konferencyjnym 4 Żywioły w podwarszawskich Falentach.
                                    Wejście do namiotu, w którym odbywało się przyjęcie udekorowaliśmy rozzielenioną pergolą ze światełkami. 
                                    Para Młoda postawiła na klasykę - zieleń i biel przełamaną elementami pudrowego różu. Stoły udekorowaliśmy
                                    
                                    w wysokie kompozycje kwiatowe z długimi pędami ruskusa. Natomiast całości dopełniały pływające świece w szklanych kielichach.
                                    Nie zapomnieliśmy o detalach - postawiliśmy na srebrne podtalerze i gałązki eukaliptusa na każdej serwecie. Stół Prezydialny 
                                    otoczyliśmy tiulem, z którego spływały kwiatowe kompozycje i zielone liście eukaliptusa.
                                </p>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/bouquet-of-flowers-1149099_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flowers-2044789_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>1</h2>
                                    <h5>BUKIET</h5>
                                    <p>
                                        Dla pięknej Justyny skomponowaliśmy bukiet z pudrowej Peonii Gardenia, białej róży Avalanche i puchatego 
                                        Astilbe. Mniejsza wersja tego bukietu została przygotowana dla Świadkowej. Butonierki Pana Młodego i Świadka
                                        zostały ozdobione niewielkimi kompozycjami z wykorzystaniem tych samych kwiatów.
                                    </p>
                                </div>
                                <div style="clear: left;"></div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>2</h2>
                                    <h5>RODZICE</h5>
                                    <p>
                                        Dla mam przygotowaliśmy korsarze na nadgarstki, a dla taty kompozycję ozdabiającą butonierkę.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/beautiful-1835116_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/peonies-2317602_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>3</h2>
                                    <h5>SALA WESELNA</h5>
                                    <p>
                                        Na salę wybraliśmy wysokie, kwiatowe kompozycje z pistacji, eukaliptusa oraz kilku odmian róż.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flower-731830_1920.jpg" alt="">
                                    <div class="btn btn-xl close-button" data-dismiss="modal">Zamknij</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <div class="col-md-12">
                                    <div class="col-xs-5 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 modal-name">
                                        <h3>Blooming!</h3>
                                    </div>
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/naksiazce.jpg" alt="">
                                </div>
                                <h2>Warsaw is in Bloom</h2>
                                <div class="modal-separator"></div>
                                <p>
                                    Kwiaty to również wyjątkowy zapach w Twoim domowym zaciszu!
                                    Poczuj się jak w rajskim ogrodzie lub kwiecistej łące bez wychodzenia z domu!
                                </p>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/IMG_6893.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flowers-2044789_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>1</h2>
                                    <h5>Dziękujemy za zaufanie!</h5>
                                    <p>
                                        Wasza opinia jest dla nas bardzo ważna, a Wasze zadowolenie jest największym czynnikiem motywującym. 
                                        To Wy jesteście współtwórcami WAWSAW bloom, dlatego pragniemy być z Wami w kontakcie i zapraszamy Was, aby stać się częscią naszej przygody.
                                    </p>
                                </div>
                                <div style="clear: left;"></div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>2</h2>
                                    <h5>Potrzebujesz porady, pomysłu?</h5>
                                    <p>
                                        Napisz do nas lub zadzwoń, zapewniamy pomoc w doborze wyjątkowych kwiatów i dekoracji. Doradzimy Ci, które z naszych kwiatów spełnią wszystkie Twoje oczekiwania!
                                        Nasze aranżacje udekorują nie tylko Twój dom ale także Ciebie! Skontaktuj się z nami a przedstawimy Ci ofertę wyjątkowych wianków.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/IMG_1202.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/IMG_1073.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>3</h2>
                                    <h5>Wyjątkowe prezenty</h5>
                                    <p>
                                        Nasze bukiety i aranżacje przekażą więcej niż same słowa.
                                    </p>
                                    <p>
                                        Obdaruj swoich bliskich wyjątkowym bukietem, spersonalizujemy go dla Ciebie!
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/IMG_1611.jpg" alt="">
                                    <div class="btn btn-xl close-button" data-dismiss="modal">Zamknij</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>