@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    Layout = "~/Pages/Shared/_LayoutPL.cshtml";
}
    <!-- Blog Section -->
    <section id="blog" class="visible-over">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h4 class="section-name fade-animate">Latest project<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row pos-r">
                <div class="col-sm-12 col-md-6 blog-image-cell">
                    <div class="blog-image fade-animate"></div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div>
                        <h1 class="section-heading fade-animate">Bukiete na rocznicę ślubu</h1>
                        <h4 class="blog-title">maj 2017</h4>
                        <p class="blog-text">
                            Wyjątkowy i baśniowy bukiet zrealizowany dla wielbicielki piwonii z okazji rocznicy ślubu. Biała piwonia w towarzystwie róży cappuccino zwiastująca zgaszony początek lata. 
                        </p>
                        <a href="#portfolioModal1" data-toggle="modal" class="page-scroll btn btn-xl fade-animate ">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Nasza historia<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row pos-r">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="about-heading section-heading fade-animate ">Pewnego razu...</h1>
                    <div class="about-text">
                        <p>
                            Powstalismy z miłości do kwiatów w 2019 roku. Warsaw Bloom jest spełnieniem marzeń Agaty o miejscu, w którym mogłaby kreatywnie realizować swoje artystyczne wizje.
                        </p>
                        <p>
                            Kochamy to, co robimy i chcemy dzielić się tą radością również z Wami.
                        </p>
                        @* <p> *@
                        @*     We launched three years ago and loved it every second. At the time *@
                        @*     I was just a man with an ideea but 2 weeks later I was a man with a plan. We jumped on this *@
                        @*     adventure and learned a lot along the way. Two days after launching we had our first client. In *@
                        @*     what we do, being creative is crucial. And we love the moments when we have to make our brain *@
                        @*     work and produce new, crazy, beautiful ideas. Two days after launching we had our first client. *@
                        @* </p> *@
                        <div class="about-separator"></div>
                        <ul class="list-unstyled">
                            @* <li>Years on the market: 3</li> *@
                            @* <li>Team members: 12</li> *@
                            <li>Zadowoleni klienci: 47</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="visible-over">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Nasz zespół<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h1 class="team-heading section-heading fade-animate ">Poznaj naszych magików </h1>
                    <p class="team-text">
                        Agata - Główny florysta. Warsaw Bloom to właśnie jej dziecko. Agata jest pomysłodawczynią, sercem oraz mózgiem calej operacji. Estetka od zawsze, od dziecka zafascynowana nauka oraz sztuką jednocześnie, kocha piękno pod każdą postacią. Jej głowa jest pełna inspiracji oraz pomysłów, ale zawsze pozostaje otwarta na propozycje i sugestie klienta
                    </p>
                    <p class="team-text">
                        Bekon - pisze na stronę, robi zdjecia, wymyślą hashtagi i podpisy do zdjęć, nosi graty.
                    </p>
                </div>
                <div class="col-sm-12 col-md-7 col-md-offset-1 team-image-cell">
                    <div>
                        <div class="col-xs">
                            <div class="team-cell team-cell1 fade-animate"></div>
                            <h5>Agata Olczyk</h5>
                            <h6>Główna Florystka</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Quote Section-->
    <section id="quote">
        <div class="bg-filter"></div>
        <div class="container" data-type="content">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="fade-animate">Inspiracja dnia</h5>
                    <div class="quote-separator"></div>
                    <blockquote>
                        "Gdzie kwitnie kwiat – musi być wiosna, a gdzie jest wiosna – wszystko wkrótce zakwitnie."
                        <footer class="quote-footer">Friedrich Rückert</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="visible-over">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Usługi<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row pos-r">
                <div class="service-image-container col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
                    <div class="service-image1"></div>
                    <div class="service-image2 fade-animate"></div>
                </div>
                <div class="col-sm-12 col-md-6 right">
                    <div>
                        <div class="col-sm-6 col-md-12 service-info">
                            <i class="fa fa-camera-retro fa-3x pull-left service-icon" aria-hidden="true"></i>
                            <div class="service-cell">
                                <h4 class="service-heading fade-animate">Aranżacje florystyczne</h4>
                                <div class="service-separator"></div>
                                <p class="service-text fade-animate">
                                    Spełniamy marzenia par, przygotowując dla nich aranżacje ślubne i weselne
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 service-info">
                            <i class="fa fa-globe fa-3x pull-left service-icon" aria-hidden="true"></i>
                            <div class="service-cell">
                                <h4 class="service-heading fade-animate">Eventy</h4>
                                <div class="service-separator"></div>
                                <p class="service-text fade-animate">
                                    Zajmujemy się oprawą florystyczną eventów na terenie całego kraju -  imprezy biznesowe, wieczory panieńskie, baby showers, urodziny
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 service-info">
                            <i class="fa fa-gift fa-3x pull-left service-icon" aria-hidden="true"></i>
                            <div class="service-cell">
                                <h4 class="service-heading fade-animate">Bukiety</h4>
                                <div class="service-separator"></div>
                                <p class="service-text fade-animate">
                                    Wykonujemy bukiety oraz wianki na zamówienie w dwóch lokalizacjach – w Warszawie oraz Częstochowie
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 service-info">
                            <i class="fa fa-pagelines fa-3x pull-left service-icon" aria-hidden="true"></i>
                            <div class="service-cell">
                                <h4 class="service-heading fade-animate">Przestrzeń</h4>
                                <div class="service-separator"></div>
                                <p class="service-text fade-animate">
                                    Pomagamy w aranżacji każdej przestrzeni; kwiaty, dekoracje
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Subscribe Section-->
    <section id="subscribe" class="cta-form">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1 class="subscribe-heading section-heading fade-animate">newsletter</h1>
                    <!-- MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        @using (Html.BeginForm(FormMethod.Post, new { id = "subscribe-form", novalidate=true })){
                            <div class="input-group input-group-lg form-group">
                                <input type="email" name="emailSub" id="emailSub" class="form-control" placeholder="Adres email..." required data-validation-required-message="Prosimy wprowadzić swój adres email.">
                                <p class="help-block text-danger"></p>
                                <span class="input-group-btn">
                                    <button type="submit" name="subscribe" class="btn btn-xl">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <div id="subscribe2-success"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Portfolio Section-->
    <section id="portfolio" class="visible-over">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Portfolio<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-nav">
                        <a href="#" data-name="all" class="active">wszystko</a>
                        <a href="#" data-name="first">pierwszy</a>
                        <a href="#" data-name="second">drugi</a>
                        <a href="#" data-name="third">trzeci</a>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item item1">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-item pos-r">
                            <figure class="effect-layla">
                                <div class="portfolio-cell portfolio-cell1"></div>
                                <figcaption>
                                    <h2>Blooming!</h2>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
                <div class="grid-item item2">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-cell portfolio-cell2">
                            <div class="portfolio-info">
                                <h6>Dzień Mamy</h6>
                                <h3>Kwiaty w podziękowaniu dla najcudowniejszych kobiet</h3>
                                <p>
                                    Dziękujemy za zaufanie w tym wyjątkowym dniu! Z wielką przyjemnością stworzyliśmy bukiety dla Waszych wspaniałych Mam.
                                </p>
                                <div class="portfolio-separator"></div>
                                <p>Maj 2017</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid-item item3">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-item pos-r">
                            <figure class="effect-layla">
                                <div class="portfolio-cell portfolio-cell3"></div>
                                <figcaption>
                                    <h2>Blooming!</h2>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
                <div class="grid-item item4">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-item pos-r">
                            <figure class="effect-layla">
                                <div class="portfolio-cell portfolio-cell4"></div>
                                <figcaption>
                                    <h2>Blooming!</h2>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
                <div class="grid-item item5">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-item pos-r">
                            <figure class="effect-layla">
                                <div class="portfolio-cell portfolio-cell5"></div>
                                <figcaption>
                                    <h2>Blooming</h2>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
                <div class="grid-item item6">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-item pos-r">
                            <figure class="effect-layla">
                                <div class="portfolio-cell portfolio-cell6"></div>
                                <figcaption>
                                    <h2>Blooming!</h2>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--Partners Section-->
    @*<section id="partners">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Partners<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-2 col-md-2 fade-animate">
                    <img class="img-responsive img-centered" alt="nature" src="~/lib/bootstrap/dist/img/partners/nature-1357928_640.png">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2  fade-animate delay4">
                    <img class="img-responsive img-centered" alt="mountain" src="~/lib/bootstrap/dist/img/partners/mountain-1849091_640.png">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2  fade-animate">
                    <img class="img-responsive img-centered" alt="go" src="~/lib/bootstrap/dist/img/partners/logo-1675244_640.png">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2  fade-animate delay4">
                    <img class="img-responsive img-centered" alt="tree" src="~/lib/bootstrap/dist/img/partners/tree-990861_640.png">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2  fade-animate">
                    <img class="img-responsive img-centered" alt="bird" src="~/lib/bootstrap/dist/img/partners/logo-1913689_640.png">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2  fade-animate delay4">
                    <img class="img-responsive img-centered" alt="camera" src="~/lib/bootstrap/dist/img/partners/camera-2008479_640.png">
                </div>
            </div>
        </div>
    </section>*@

    <!--Testimonials Section-->
    <section id="testimonials" class="visible-over">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Komentarze<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row">
                <div id="carousel-reviews" class="carousel slide" data-ride="carousel" data-interval="15000">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 testimonial-cell">
                                <h5 class="text-center">Genevive Russo</h5>
                                <h6 class="text-center">ceo at bloom</h6>
                                <p class="text-center">
                                    "The best florists ever. Our wedding was very special and beautiful with all the
                                    floral arrangements and decorations. The flowers lasted for so long and we were beyond happy with the
                                    end result. Guests were very impressed."
                                </p>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 testimonial-cell">
                                <h5 class="text-center">Lara Brie</h5>
                                <h6 class="text-center">founder of Incognito</h6>
                                <p class="text-center">
                                    "Every time I want to buy flower arrangements, bouquets for an event, celebration,
                                    special occasion or just because, I always go back to Mille fiori. They have the freshest flowers and
                                    the most talented florists and decorators."
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 testimonial-cell">
                                <h5 class="text-center">Alice Russo</h5>
                                <h6 class="text-center">ceo at bloom</h6>
                                <p class="text-center">
                                    "The best florists ever. Our wedding was very special and beautiful with all the
                                    floral arrangements and decorations. The flowers lasted for so long and we were beyond happy with the
                                    end result. Guests were very impressed."
                                </p>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 testimonial-cell">
                                <h5 class="text-center">Lara Brie</h5>
                                <h6 class="text-center">founder of Incognito</h6>
                                <p class="text-center">
                                    "Every time I want to buy flower arrangements, bouquets for an event, celebration,
                                    special occasion or just because, I always go back to Mille fiori. They have the freshest flowers and
                                    the most talented florists and decorators."
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 testimonial-cell">
                                <h5 class="text-center">Alice Russo</h5>
                                <h6 class="text-center">ceo at bloom</h6>
                                <p class="text-center">
                                    "The best florists ever. Our wedding was very special and beautiful with all the
                                    floral arrangements and decorations. The flowers lasted for so long and we were beyond happy with the
                                    end result. Guests were very impressed."
                                </p>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 testimonial-cell">
                                <h5 class="text-center">Lara Brie</h5>
                                <h6 class="text-center">founder of Incognito</h6>
                                <p class="text-center">
                                    "Every time I want to buy flower arrangements, bouquets for an event, celebration,
                                    special occasion or just because, I always go back to Mille fiori. They have the freshest flowers and
                                    the most talented florists and decorators."
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="bg-filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-name fade-animate">Kontakt<i class="fa fa-minus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <h1 class="contact-heading section-heading fade-animate delay4">say hello</h1>

                    @using (Html.BeginForm(FormMethod.Post, new { id = "contactForm", novalidate=true }))
                    {
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Imię *" id="name" required data-validation-required-message="Prosimy o podanie imienia.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group col-md-12">
                                <input asp-for="Email" type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Prosimy o podanie adresu email.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group col-md-12">
                                <input asp-for="Subject" type="text" class="form-control" placeholder="Tytuł *" id="subject" required data-validation-required-message="Prosimy wpisać tytuł.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-12">
                                <textarea asp-for="Message" class="form-control" placeholder="Wiadomość *" id="message" required data-validation-required-message="Prosimy wpisać wiadomość."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-md-12 text-center fade-animate">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Wyślij wiadomość</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>


    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <div class="col-md-12">
                                    <div class="col-xs-5 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 modal-name">
                                        <h3>Blooming!</h3>
                                    </div>
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/basket-1846135_1920.jpg" alt="">
                                </div>
                                <h2>Warsaw is in Bloom</h2>
                                <div class="modal-separator"></div>
                                <p>
                                    Kwiaty to również wyjątkowy zapach w Twoim domowym zaciszu!
                                    Poczuj się jak w rajskim ogrodzie lub kwiecistej łące bez wychodzenia z domu!
                                </p>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/bouquet-of-flowers-1149099_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flowers-2044789_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>1</h2>
                                    <h5>Dziękujemy za zaufanie!</h5>
                                    <p>
                                        Wasza opinia jest dla nas bardzo ważna, a Wasze zadowolenie jest największym czynnikiem motywującym. 
                                        To Wy jesteście współtwórcami WAWSAW bloom, dlatego pragniemy być z Wami w kontakcie i zapraszamy Was, aby stać się częscią naszej przygody.
                                    </p>
                                    @* <p> *@
                                    @*     We launched three years ago and loved it every second. At the time *@
                                    @*     I was just a man with an ideea but 2 weeks later I was a man with a plan. We jumped on this *@
                                    @*     adventure and learned a lot along the way. Two days after launching we had our first client. In *@
                                    @*     what we do, being creative is crucial. *@
                                    @* </p> *@
                                </div>
                                <!--<img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/plant-1985874_1920.jpg" alt="">-->
                                <div style="clear: left;"></div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>2</h2>
                                    <h5>Potrzebujesz porady, pomysłu?</h5>
                                    <p>
                                        Napisz do nas lub zadzwoń, zapewniamy pomoc w doborze wyjątkowych kwiatów i dekoracji. Doradzimy Ci, które z naszych kwiatów spełnią wszystkie Twoje oczekiwania!
                                        Nasze aranżacje udekorują nie tylko Twój dom ale także Ciebie! Skontaktuj się z nami a przedstawimy Ci ofertę wyjątkowych wianków.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/beautiful-1835116_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/peonies-2317602_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>3</h2>
                                    <h5>Wyjątkowe prezenty</h5>
                                    <p>
                                        Nasze bukiety i aranżacje przekażą więcej niż same słowa.
                                    </p>
                                    <p>
                                        Obdaruj swoich bliskich wyjątkowym bukietem, spersonalizujemy go dla Ciebie!
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flower-731830_1920.jpg" alt="">
                                    <div class="btn btn-xl close-button" data-dismiss="modal">Zamknij</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <div class="col-md-12">
                                    <div class="col-xs-5 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 modal-name">
                                        <h3>Blooming!</h3>
                                    </div>
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/basket-1846135_1920.jpg" alt="">
                                </div>
                                <h2>Warsaw is in Bloom</h2>
                                <div class="modal-separator"></div>
                                <p>
                                    Kwiaty to również wyjątkowy zapach w Twoim domowym zaciszu!
                                    Poczuj się jak w rajskim ogrodzie lub kwiecistej łące bez wychodzenia z domu!
                                </p>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/bouquet-of-flowers-1149099_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flowers-2044789_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>1</h2>
                                    <h5>Dziękujemy za zaufanie!</h5>
                                    <p>
                                        Wasza opinia jest dla nas bardzo ważna, a Wasze zadowolenie jest największym czynnikiem motywującym. 
                                        To Wy jesteście współtwórcami WAWSAW bloom, dlatego pragniemy być z Wami w kontakcie i zapraszamy Was, aby stać się częscią naszej przygody.
                                    </p>
                                </div>
                                <!--<img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/plant-1985874_1920.jpg" alt="">-->
                                <div style="clear: left;"></div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>2</h2>
                                    <h5>Potrzebujesz porady, pomysłu?</h5>
                                    <p>
                                        Napisz do nas lub zadzwoń, zapewniamy pomoc w doborze wyjątkowych kwiatów i dekoracji. Doradzimy Ci, które z naszych kwiatów spełnią wszystkie Twoje oczekiwania!
                                        Nasze aranżacje udekorują nie tylko Twój dom ale także Ciebie! Skontaktuj się z nami a przedstawimy Ci ofertę wyjątkowych wianków.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/beautiful-1835116_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/peonies-2317602_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>3</h2>
                                    <h5>Wyjątkowe prezenty</h5>
                                    <p>
                                        Nasze bukiety i aranżacje przekażą więcej niż same słowa.
                                    </p>
                                    <p>
                                        Obdaruj swoich bliskich wyjątkowym bukietem, spersonalizujemy go dla Ciebie!
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flower-731830_1920.jpg" alt="">
                                    <div class="btn btn-xl close-button" data-dismiss="modal">Close</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <div class="col-md-12">
                                    <div class="col-xs-5 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 modal-name">
                                        <h3>Blooming!</h3>
                                    </div>
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/basket-1846135_1920.jpg" alt="">
                                </div>
                                <h2>Warsaw is in Bloom</h2>
                                <div class="modal-separator"></div>
                                <p>
                                    Kwiaty to również wyjątkowy zapach w Twoim domowym zaciszu!
                                    Poczuj się jak w rajskim ogrodzie lub kwiecistej łące bez wychodzenia z domu!
                                </p>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/bouquet-of-flowers-1149099_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flowers-2044789_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>1</h2>
                                    <h5>Dziękujemy za zaufanie!</h5>
                                    <p>
                                        Wasza opinia jest dla nas bardzo ważna, a Wasze zadowolenie jest największym czynnikiem motywującym. 
                                        To Wy jesteście współtwórcami WAWSAW bloom, dlatego pragniemy być z Wami w kontakcie i zapraszamy Was, aby stać się częscią naszej przygody.
                                    </p>
                                </div>
                                <!--<img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/plant-1985874_1920.jpg" alt="">-->
                                <div style="clear: left;"></div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>2</h2>
                                    <h5>Potrzebujesz porady, pomysłu?</h5>
                                    <p>
                                        Napisz do nas lub zadzwoń, zapewniamy pomoc w doborze wyjątkowych kwiatów i dekoracji. Doradzimy Ci, które z naszych kwiatów spełnią wszystkie Twoje oczekiwania!
                                        Nasze aranżacje udekorują nie tylko Twój dom ale także Ciebie! Skontaktuj się z nami a przedstawimy Ci ofertę wyjątkowych wianków.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/beautiful-1835116_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/peonies-2317602_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>3</h2>
                                    <h5>Wyjątkowe prezenty</h5>
                                    <p>
                                        Nasze bukiety i aranżacje przekażą więcej niż same słowa.
                                    </p>
                                    <p>
                                        Obdaruj swoich bliskich wyjątkowym bukietem, spersonalizujemy go dla Ciebie!
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flower-731830_1920.jpg" alt="">
                                    <div class="btn btn-xl close-button" data-dismiss="modal">Close</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <div class="col-md-12">
                                    <div class="col-xs-5 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 modal-name">
                                        <h3>Blooming!</h3>
                                    </div>
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/basket-1846135_1920.jpg" alt="">
                                </div>
                                <h2>Warsaw is in Bloom</h2>
                                <div class="modal-separator"></div>
                                <p>
                                    Kwiaty to również wyjątkowy zapach w Twoim domowym zaciszu!
                                    Poczuj się jak w rajskim ogrodzie lub kwiecistej łące bez wychodzenia z domu!
                                </p>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/bouquet-of-flowers-1149099_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flowers-2044789_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>1</h2>
                                    <h5>Dziękujemy za zaufanie!</h5>
                                    <p>
                                        Wasza opinia jest dla nas bardzo ważna, a Wasze zadowolenie jest największym czynnikiem motywującym. 
                                        To Wy jesteście współtwórcami WAWSAW bloom, dlatego pragniemy być z Wami w kontakcie i zapraszamy Was, aby stać się częscią naszej przygody.
                                    </p>
                                </div>
                                <!--<img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/plant-1985874_1920.jpg" alt="">-->
                                <div style="clear: left;"></div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>2</h2>
                                    <h5>Potrzebujesz porady, pomysłu?</h5>
                                    <p>
                                        Napisz do nas lub zadzwoń, zapewniamy pomoc w doborze wyjątkowych kwiatów i dekoracji. Doradzimy Ci, które z naszych kwiatów spełnią wszystkie Twoje oczekiwania!
                                        Nasze aranżacje udekorują nie tylko Twój dom ale także Ciebie! Skontaktuj się z nami a przedstawimy Ci ofertę wyjątkowych wianków.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/beautiful-1835116_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/peonies-2317602_1920.jpg" alt="">
                                </div>
                                <div class="col-md-6 modal-text-col">
                                    <h2>3</h2>
                                    <h5>Wyjątkowe prezenty</h5>
                                    <p>
                                        Nasze bukiety i aranżacje przekażą więcej niż same słowa.
                                    </p>
                                    <p>
                                        Obdaruj swoich bliskich wyjątkowym bukietem, spersonalizujemy go dla Ciebie!
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flower-731830_1920.jpg" alt="">
                                    <div class="btn btn-xl close-button" data-dismiss="modal">Close</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here -->
                                        <div class="col-md-12">
                                            <div class="col-xs-5 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 modal-name">
                                                <h3>Blooming!</h3>
                                            </div>
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/basket-1846135_1920.jpg" alt="">
                                        </div>
                                        <h2>Warsaw is in Bloom</h2>
                                        <div class="modal-separator"></div>
                                        <p>
                                            Kwiaty to również wyjątkowy zapach w Twoim domowym zaciszu!
                                            Poczuj się jak w rajskim ogrodzie lub kwiecistej łące bez wychodzenia z domu!
                                        </p>
                                        <div class="col-md-12">
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/bouquet-of-flowers-1149099_1920.jpg" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flowers-2044789_1920.jpg" alt="">
                                        </div>
                                        <div class="col-md-6 modal-text-col">
                                            <h2>1</h2>
                                            <h5>Dziękujemy za zaufanie!</h5>
                                            <p>
                                                Wasza opinia jest dla nas bardzo ważna, a Wasze zadowolenie jest największym czynnikiem motywującym. 
                                                To Wy jesteście współtwórcami WAWSAW bloom, dlatego pragniemy być z Wami w kontakcie i zapraszamy Was, aby stać się częscią naszej przygody.
                                            </p>
                                        </div>
                                        <!--<img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/plant-1985874_1920.jpg" alt="">-->
                                        <div style="clear: left;"></div>
                                        <div class="col-md-6 modal-text-col">
                                            <h2>2</h2>
                                            <h5>Potrzebujesz porady, pomysłu?</h5>
                                            <p>
                                                Napisz do nas lub zadzwoń, zapewniamy pomoc w doborze wyjątkowych kwiatów i dekoracji. Doradzimy Ci, które z naszych kwiatów spełnią wszystkie Twoje oczekiwania!
                                                Nasze aranżacje udekorują nie tylko Twój dom ale także Ciebie! Skontaktuj się z nami a przedstawimy Ci ofertę wyjątkowych wianków.
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/beautiful-1835116_1920.jpg" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/peonies-2317602_1920.jpg" alt="">
                                        </div>
                                        <div class="col-md-6 modal-text-col">
                                            <h2>3</h2>
                                            <h5>Wyjątkowe prezenty</h5>
                                            <p>
                                                Nasze bukiety i aranżacje przekażą więcej niż same słowa.
                                            </p>
                                            <p>
                                                Obdaruj swoich bliskich wyjątkowym bukietem, spersonalizujemy go dla Ciebie!
                                            </p>
                                        </div>
                                        <div class="col-md-12">
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flower-731830_1920.jpg" alt="">
                                            <div class="btn btn-xl close-button" data-dismiss="modal">Close</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here -->
                                        <div class="col-md-12">
                                            <div class="col-xs-5 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 modal-name">
                                                <h3>Blooming!</h3>
                                            </div>
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/basket-1846135_1920.jpg" alt="">
                                        </div>
                                        <h2>Warsaw is in Bloom</h2>
                                        <div class="modal-separator"></div>
                                        <p>
                                            Kwiaty to również wyjątkowy zapach w Twoim domowym zaciszu!
                                            Poczuj się jak w rajskim ogrodzie lub kwiecistej łące bez wychodzenia z domu!
                                        </p>
                                        <div class="col-md-12">
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/bouquet-of-flowers-1149099_1920.jpg" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flowers-2044789_1920.jpg" alt="">
                                        </div>
                                        <div class="col-md-6 modal-text-col">
                                            <h2>1</h2>
                                            <h5>Dziękujemy za zaufanie!</h5>
                                            <p>
                                                Wasza opinia jest dla nas bardzo ważna, a Wasze zadowolenie jest największym czynnikiem motywującym. 
                                                To Wy jesteście współtwórcami WAWSAW bloom, dlatego pragniemy być z Wami w kontakcie i zapraszamy Was, aby stać się częscią naszej przygody.
                                            </p>
                                        </div>
                                        <!--<img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/plant-1985874_1920.jpg" alt="">-->
                                        <div style="clear: left;"></div>
                                        <div class="col-md-6 modal-text-col">
                                            <h2>2</h2>
                                            <h5>Potrzebujesz porady, pomysłu?</h5>
                                            <p>
                                                Napisz do nas lub zadzwoń, zapewniamy pomoc w doborze wyjątkowych kwiatów i dekoracji. Doradzimy Ci, które z naszych kwiatów spełnią wszystkie Twoje oczekiwania!
                                                Nasze aranżacje udekorują nie tylko Twój dom ale także Ciebie! Skontaktuj się z nami a przedstawimy Ci ofertę wyjątkowych wianków.
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/beautiful-1835116_1920.jpg" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/peonies-2317602_1920.jpg" alt="">
                                        </div>
                                        <div class="col-md-6 modal-text-col">
                                            <h2>3</h2>
                                            <h5>Wyjątkowe prezenty</h5>
                                            <p>
                                                Nasze bukiety i aranżacje przekażą więcej niż same słowa.
                                            </p>
                                            <p>
                                                Obdaruj swoich bliskich wyjątkowym bukietem, spersonalizujemy go dla Ciebie!
                                            </p>
                                        </div>
                                        <div class="col-md-12">
                                            <img class="img-responsive img-centered" src="~/lib/bootstrap/dist/img/flower-731830_1920.jpg" alt="">
                                            <div class="btn btn-xl close-button" data-dismiss="modal">Close</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
